{% extends 'store/base.html' %}

{% block title %}{{ post.title }} | WEMISI Blog{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <!-- Post Header -->
            <h1 class="fw-bold text-dark mb-3">{{ post.title }}</h1>
            <p class="text-muted">Published on {{ post.published_date|date:"F d, Y" }}</p>

            <!-- Feature Image -->
            {% if post.image %}
                <img src="{{ post.image.url }}" class="img-fluid rounded my-4" alt="{{ post.title }}">
            {% endif %}

            <!-- Post Content -->
            <div class="fs-5" style="line-height: 1.8;">
                {{ post.content|linebreaks }}
            </div>

            <hr class="my-5">
            <a href="{% url 'blog' %}" class="btn btn-outline-dark">&larr; Back to Blog</a>
        </div>
    </div>
</div>
{% endblock %}