{% extends 'store/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="fw-bold text-dark mb-3">Careers at WEMISI</h1>
            <hr class="w-25 mx-auto mb-4">
            <p class="lead text-muted">
                We are always looking for talented individuals to join our team.
            </p>
            <p class="fs-5 mt-4">Currently, there are no open positions available. However, if you believe you have what it takes to contribute to our success, we would love to hear from you.</p>
            <p class="fs-5">Please send a copy of your CV and portfolio to <a href="mailto:info@wemisi.com" class="fw-bold text-decoration-none">info@wemisi.com</a>.</p>
        </div>
    </div>
</div>
{% endblock %}